.card{
    position:relative;
    display: flex;
    flex-direction: column;
    margin:40px;
}

.cardicon{
    width:100px;
    height:100px;
    background-color: #46E892;
    position:absolute;
    top:-50px;
    left:50px;
    border:none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.cardicon img{
    width:7vh;
    height:7vh;
    margin-top:25px;
}

.cardcontent{
    width:42vh;
    height:350px;
    background-color: #ffffff;
    border:none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cardheading{
    margin:80px 0px 0px 30px;
    color:#000D39;
    font-weight: 500;
    font-size: 30px;
}

.carddata{
    color:#000D39;
    margin:20px 25px 5px 30px;
}
