.skillcontainer{
    padding:20px;
    background-color: #ffffff;
    border:none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
.skillcontainer img{
    object-fit: contain;
    width:80px;
    height:80px;
}