body {
  margin: 0;
  font-family:'rubik',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*overflow-y: hidden;*/
  overflow-x: hidden;
  background-color: #000D39;
}

html{
  scroll-behavior: smooth;
}
